---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="banner">
<img src="http://www.devonmarantz.com/wp-content/uploads/2019/05/cropped-IMG_0087-2.jpg" class="bannerPhoto" alt="devonBanner">
</div>
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
